<div id="modal1" class="modal col l4">
	<div class="modal-content">
		<h4 class="center-align">Please enter points lost</h4>
		<div class="event-warning red">
			<h5 class="center-align">Please enter numbers!</h5>
		</div>
		<div class="input-field" id="input-name-1">
			<input id="name-1" type="text" class="validate">
			<label for="name-1" id="event-name-1">Player 1</label>
		</div>
		<div class="input-field" id="input-name-2">
			<input id="name-2" type="text" class="validate">
			<label for="name-2" id="event-name-2">Player 2</label>
		</div>
		<div class="input-field" id="input-name-3">
			<input id="name-3" type="text" class="validate">
			<label for="name-3" id="event-name-3">Player 3</label>
		</div>
		<div class="input-field" id="input-name-4">
			<input id="name-4" type="text" class="validate">
			<label for="name-4" id="event-name-4">Player 4</label>
		</div>
		<a class="waves-effect waves-light btn" id="event-update">
			<i class="material-icons right">send</i>
			Add Score
		</a>
	</div>
</div>